.attention h3,h4, p {margin:0;}

button {
    /* background-color: var(--ws-green) !important;
    color: var(--ws-darkcyan) !important; */
    margin-right: 0.5em;
}

.buttons {margin: 0.75em 0 0 1em;}

.credit { color: var(--ws-financial-green);}

.transaction { display: flex;}

.history {margin-top: 2em;}

h3 {margin-bottom: 0.5em;}
h4 {margin-top: 0.5em;}

mat-form-field {margin: 1em 1em 1em 0;}

pre {margin-top:0;}