button {margin:1em 0.25em;}

.button-group {display: block;}

.credit {color: green;}

.monthly-payment { color: var(--ws-blue);}

p {font-size: 1.25em;}

mat-checkbox {margin-top: 1.5em;}

mat-checkbox,
mat-form-field {margin-right: 2em;}

mat-form-field,
mat-checkbox {float:left;}

