.attention h3,p {margin:0;}

button {
    /* background-color: var(--ws-green) !important;
    color: var(--ws-darkcyan) !important; */
    margin-right: 0.5em;
}

.buttons {margin: 0.75em 0 0 1em;}

.container { display: flex;}

.history {margin-top: 2em;}

h3 {margin-bottom: 0.5em;}
h4 {margin-top: 0.5em;}

mat-form-field {
    float: left;
    margin-right: 1em;
}