<div *ngIf="category && viewIsReady">
    <br>
    <div *ngIf="!showInputForStartingBalance">
        <pre><strong>{{category.val}}</strong> Starting Balance: {{startingBalance | currency}} | Running Balance: {{balance | currency}}<span *ngIf="balanceIsNegative" class="credit"> (Student Credit)</span></pre>
        <button mat-flat-button type="button" (click)="enterPayment()">Enter Payment</button>
        <button mat-flat-button type="button" (click)="enterCharge()">Enter Charge</button>
        <!-- <button *ngIf="paymentsCollectionExists || chargesCollectionExists" mat-flat-button color="primary" (click)="toggleHistory()">History</button> -->
        <button mat-flat-button color="primary" (click)="toggleHistory()">History</button>
        <br>
    </div>
    <form *ngIf="showForm" [formGroup]="formGroup" #formDirective="ngForm" (ngSubmit)="submitHandler(formDirective)">
        <!-- check for falsy for startingBalance will not suffice for balance entry of zero -->
        <div style="display:inline;" *ngIf="showInputForStartingBalance">
            <p><strong>Enter starting balance for {{category.val}}</strong></p>
            <mat-form-field>
                <input matInput type=number step=0.01 placeholder="{{category.val}} Start Bal." formControlName="amount">
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="isEnteringPayment">
            <input matInput type=number step=0.01 placeholder="{{category.val}} Payment" formControlName="amount">
        </mat-form-field>

        <mat-form-field *ngIf="isEnteringCharge">
            <input matInput type=number step=0.01 placeholder="{{category.val}} Charge" formControlName="amount">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="transactionDatePicker" placeholder="Date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transactionDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput type=text placeholder="Memo" formControlName="memo">
        </mat-form-field>

        <button *ngIf="showSubmitButton" mat-flat-button color="basic" [disabled]="!formGroup.valid" type="submit">Submit</button>
    </form>
</div>
<app-history *ngIf="showHistory"></app-history>