
.account-circle {
    font-size: 120px;
    color: var(--ws-light-grey);
  }

.mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
    margin-top: -20px;
}
  
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
  }

  h2 {margin-top: 1.25em;}

  .space-evenly { 
    justify-content: space-between; 
  }