
button {
    /* background-color: var(--ws-green) !important;
    color: var(--ws-darkcyan) !important; */
    margin-right: 0.5em;
}

.buttons {
    margin: 2.5em 0 0 1em;
}

.container { display: flex;}

form {margin-top: 1em;}

.history {margin-top: 2em;}

h3 {margin-bottom: 0.5em;}
h4 {margin-top: 0.5em;}

mat-form-field {margin-right: 1em;}