
a {color: var(--ws-smoke);}

.fill-space {flex: 1 1 auto;}

mat-toolbar .info {font-size: 0.7em;}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .info {text-align: right;}
 }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }
