
a {color: var(--ws-smoke);}

.fill-space {flex: 1 1 auto;}

mat-toolbar .info {font-size: 0.7em;}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .info {text-align: right;}
 }
