<!-- <div *ngIf="!currentChild; else ready">
  <app-progress-spinner></app-progress-spinner>
  <h3>Please select a student.</h3>
</div> -->

<app-header title="Children of Record | Financials"  link="/record-list" linkName="Back to Record List"></app-header>
<mat-card>
  <ul class="availableChildren" *ngFor="let child of childrenOfRecord">
    <li><a [routerLink]="" (click)="setupFinancialDoc(child)"> {{child.fname}} {{child.lname}} | Grade: {{child.grade}}</a></li>
  </ul>
</mat-card>

<!-- <ng-template #ready> -->

  <!-- <app-header title="Financial Entry"></app-header> -->

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons account-circle">account_circle</i>
        <app-progress-spinner *ngIf="showAvatarSpinner" class="avatar-spinner"></app-progress-spinner>
      </div>

      <mat-card-title>
        <h3>Financial status for <span *ngIf="currentChild; else selectChild">{{currentChild.fname}} {{currentChild.lname}}</span></h3>
        <ng-template #selectChild>(Select a student)</ng-template>
      </mat-card-title>

      <div class="buttons">
        <button [disabled] = "!currentChild" mat-flat-button color="primary" *ngFor="let cat of categories | mapToIterable" (click)="setCategory(cat)">{{cat.val}}</button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <app-entry></app-entry>
    </mat-card-content>
  </mat-card>

  

<!-- </ng-template> -->