

<app-header title="Financials for Surname: {{currentRecord.surname}}"  link="/record-list" linkName="Back to Record List"></app-header>

<mat-card>
  <h3>Students in this Record:</h3>
  <ul class="availableChildren" *ngFor="let child of childrenOfRecord">
    <li><a [routerLink]="" (click)="setupFinancialDoc(child)"> {{child.fname}} {{child.lname}} | Grade: {{child.grade}}</a></li>
  </ul>
</mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons account-circle">account_circle</i>
        <app-progress-spinner *ngIf="showAvatarSpinner" class="avatar-spinner"></app-progress-spinner>
      </div>
    
      <mat-card-title *ngIf="financialDocExists; else noDoc">
          <h3>Financial status for 
            <span *ngIf="currentChild; else selectChild">{{currentChild.fname}} {{currentChild.lname}} </span>
          </h3>
          <ng-template #selectChild>(Select a student)</ng-template>
      </mat-card-title>

      <!-- Only a non-admin user would see this message -->
      <!-- At this point, an admin user, when clicking the child, will cause the financial doc to be created. 
      Also, only admins can write. For now, new and existing financial docs need to appended with mother/father email address. -->
      <ng-template #noDoc>
          <mat-card>
            No financial data present for {{currentChild.fname}} {{currentChild.lname}}.  Please call 618.233.3500 for further assistance.
          </mat-card>
        </ng-template>

      <div *ngIf="financialDocExists" class="buttons">
        <button [disabled]="!currentChild" mat-flat-button color="primary" *ngFor="let cat of categories | mapToIterable" (click)="setCategory(cat)">{{cat.val}}</button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <app-entry></app-entry>
    </mat-card-content>
  </mat-card>

