.actions button {margin-right: 0.5em;}

.btn-add-record  {float: right;}

button  {
  display:block;
  width: auto;
}

.expanded {
    background: #f5fafc;
    border: 1px solid #cdd0d2;
    margin-bottom: 2em;
    }
  
  mat-table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

ng-container.admin {margin-bottom: 5em;}
  
.delete-buttons {float:right;}
.delete-buttons button {margin-left: 1em;}

#warning h4, 
#warning h5 { text-align: center;}

#warning .buttons,
#warning .warning {
  display: flex;
  justify-content: center;
}

#warning .warning i { margin-top: -2px;}

#warning button.coy {margin-left: 70px;}

