.actions button {margin-right: 0.5em;}

.btn-add-record  {
  float: right;
  margin-top: -3.5em;
}

.expanded {
    background: #f5fafc;
    border: 1px solid #cdd0d2;
    margin-bottom: 2em;
    }
  
  mat-table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

ng-container.admin {margin-bottom: 5em;}
  
.delete-buttons {float:right;}
.delete-buttons button {margin-left: 1em;}

/* jw-modal#record-modal .jw-modal {width: 40% !important;} */