<app-header title="Record Admin"></app-header>

<app-record-entry *ngIf="showForm"></app-record-entry>
<div *ngIf="recordMatch || userIsAdmin; else noRecords" class="mat-elevation-z8">
	<mat-card>
		<h3>Available Records</h3>
		<button *ngIf="userIsAdmin" class="btn-add-record" (click)="toggleForm()" mat-flat-button color="basic"><i class="material-icons">add_circle</i> Family Record</button>
		<mat-form-field  *ngIf="userIsAdmin"> 
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>

		<mat-table [dataSource]="ds" matSort>

			<ng-container matColumnDef="surname">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="father">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Father / Guardian </mat-header-cell>
				<mat-cell *matCellDef="let row">{{row.fatherFname}} {{row.fatherLname}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="mother">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Mother / Guardian </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.motherFname}} {{row.motherLname}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="district">
				<mat-header-cell *matHeaderCellDef mat-sort-header> School District </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.district}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="catholic">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Is Catholic </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.catholic}} </mat-cell>
			</ng-container>

	
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

			<ng-container *matRowDef="let row; columns: displayedColumns;">
				<div [class.expanded]="showChildren[row.realId]">
					<mat-row (click)="onRowClicked(row)"></mat-row>
					<app-child-table *ngIf="showChildren[row.realId]" [record]="row"></app-child-table>

					<div *ngIf="showChildren[row.realId]" class="actions">
						<button *ngIf="userIsAdmin" [disabled]="isUpdating" mat-flat-button color="primary" (click)="prepFormToUpdate(row)">Update</button>

						<div *ngIf="userIsAdmin" class="delete-buttons">

							<button *ngIf="!isDeleting[row.realId]" [disabled]="isUpdating" mat-flat-button color="warn" (click)="aboutToDelete(row)">
								<i class="material-icons">delete_forever</i>
							</button>

							<button *ngIf="isDeleting[row.realId]" [disabled]="isUpdating" mat-flat-button color="warn" (click)="deleteRecord(row)">
								<i class="material-icons">delete_forever</i>
								Delete Permanently</button>

							<button *ngIf="isDeleting[row.realId]" [disabled]="isUpdating" mat-flat-button color="primary" (click)="aboutToDelete(row)">
								Cancel Deletion</button>
						</div>
					</div>
				</div>
			</ng-container>
		</mat-table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</mat-card>
</div>
<ng-template #noRecords>
	<h3>No records found for this user.</h3>
	Please contact Michelle Miller for further inquiry. 618.233.3500
</ng-template>

