
a {color: var(--ws-blue);}

p.brand {margin-bottom: 0.25em;}

button {
    display: block;
    margin: auto;
}

.create-acct {
    padding-bottom: 0.5em;
    text-align: center;
    }

form {
    margin: 0 auto;
    width: 90%;
}


.login-icon {
    font-size: 170px;
    color: var(--ws-light-grey);
    margin: 0 auto;
    width: 170px;
    display: block;
    padding-bottom: 0;
}

mat-form-field {display: block;}

p.brand {
    color: var(--ws-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.status {text-align: center;}
