<mat-card>

	<p class="brand">WhiteStone</p>

	<div *ngIf="loading | async; else logo">
		<app-progress-spinner></app-progress-spinner>
	</div>
	<ng-template #logo>
		<i class="material-icons login-icon">supervised_user_circle</i>
	</ng-template>

	<p *ngIf="creatingAccount" class="create-acct">Please create an account using the email address associated with your student and use a password of your choosing.</p>
	<!-- Call the St. Teresa School Administration office at 618.233.3500 if you need further assistance.  -->

	<div class="account-response">
		<p *ngIf="status$ | async as status">{{status}}</p>
		<mat-error *ngIf="error$ | async as error">{{error}}</mat-error>
	</div>


	<!-- <button mat-raised-button color="primary" (click)="logIn()">Login Using Google</button> -->
	<!-- <form [formGroup]="emailLoginForm" #formDirective="ngForm" (ngSubmit)="emailLogin(formDirective)"> -->
	<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="creatingAccount ? signUp() : emailLogin(formDirective)">
		<mat-form-field>
			<input matInput placeholder="Email" formControlName="email">
			<mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
				<div *ngIf="f.email.errors.required">
					A valid email address is required.
				</div>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input type="password" matInput placeholder="Password" formControlName="password">
			<mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
				<div *ngIf="f.password.errors.required">
					A password is required.
				</div>
			</mat-error>
		</mat-form-field>

		<div class="button-group">
			<button *ngIf="creatingAccount; else login" [disabled]="!form.valid" type="submit" mat-flat-button color="primary">Create Account</button>
			<ng-template #login>
				<button type="submit" class="login" [disabled]="!form.valid" mat-flat-button color="primary">Login</button>
				<a *ngIf="!creatingAccount" [routerLink]="" (click)="createAccount(formDirective)">Or Create Account</a>
			</ng-template>
		</div>

	</form>
	<p class="legal">&copy; 2018 ProDev, LLC</p>
	<!-- <p class="legal">Release Branch</p> -->
</mat-card>