
a {color: var(--ws-blue);}

p.brand {margin-bottom: 0.25em;}

.button-group {text-align: center;}

.button-group button {
    display: block;
    margin: 0 auto;
}

.button-group.password-reset button {
    display: inline;
    margin: 0 0 2em 0;
}

.button-group.button-group.password-reset  button[type="submit"] {margin-right: 1.5em;}

.button-group a.create-account {
    display: block;
    margin-top: 2em;
}

.button-group a.reset-password {font-size: 0.75em;}

.instructions {
    padding: 1em;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 90%;
}


.login-icon {
    font-size: 170px;
    color: var(--ws-light-grey);
    margin: 0 auto;
    width: 170px;
    display: block;
    padding-bottom: 0;
}

mat-form-field {display: block;}

p.brand {
    color: var(--ws-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.account-response {
    margin-bottom: 0.5em;
    text-align: center;
}
