
<div *ngIf="currentFinancialDoc">
  <!-- <div *ngIf="(currentCategory$ | async) as category"> -->
    <div *ngIf="currentCategory">
     <div *ngIf="currentCategory == 'Tuition' || currentCategory == 'Extended Care'">
        <button class="tax-form" mat-flat-button color="financial" (click)="openModal('tax-form-modal');">2018 Tax Form for {{currentCategory}}</button>
        <jw-modal id="tax-form-modal">

            <div *ngIf="currentCategory == 'Tuition'">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>TAX CREDIT INFORMATION for <strong>{{currentFinancialDoc.data().childFirstName}} {{currentFinancialDoc.data().childLastName}}</strong> </mat-card-title>
                  <mat-card-subtitle>Payment Received for Book Fees/Tuition</mat-card-subtitle>
                  <mat-card-subtitle>January 1, 2018 - December 31, 2018</mat-card-subtitle>
                </mat-card-header>
                <div>
                    St. Teresa Catholic School <br>
                   1108 Lebanon Ave. <br>
                   Belleville, IL 62221 <br>
                   Tax Id # 37-0673539 <br>
                </div>
                <div *ngFor="let payment of payments">{{payment.amount | currency}}</div>
              </mat-card>
            </div>

            <button class="close-modal" (click)="closeModal('tax-form-modal');">Close</button>
        </jw-modal>
     </div>
  </div>
</div>


