button.tax-form {margin-top: 1em;}

.buttons {
    margin: 0 auto !important;
    width: 120px !important;
}

.payment-list {font-size: 0.85em;}

p.total {margin-top: 1em;}

/* jw-modal #address {margin: 1em 0;} */

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
  
   button.tax-form {
      margin: 0 0 0.5em 0;
      width: 100% !important;
    }

  }