button.tax-form {margin-top: 1em;}

mat-card-footer .buttons {
    margin: 0 auto !important;
    width: 120px !important;
}

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
  
   button.tax-form {
      margin: 0 0 0.5em 0;
      width: 100% !important;
    }

  }