<button [disabled]="!enableButtons" 
    mat-flat-button color="primary" *ngFor="let cat of categories | mapToIterable"
    (click)="setCategoryPropsAndCollections(cat)">{{cat.val}}</button>

<form  *ngIf="currentCategory" [formGroup]="formGroup" #formDirective="ngForm" (ngSubmit)="submitHandler(formDirective)">
    <div style="display:inline;" *ngIf="!startingBalance">
        <p><strong>Enter starting balance for {{currentCategory.val}}</strong></p>
        <mat-form-field>
            <input matInput type=number step=0.01 placeholder="{{currentCategory.val}} Start Bal." formControlName="amount">
        </mat-form-field>

        <!-- Date picker and memo will show for entering balance, payment and charge -->
        <mat-form-field>
            <input matInput [matDatepicker]="transactionDatePicker" placeholder="Date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transactionDatePicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type=text placeholder="Memo" formControlName="memo">
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" [disabled]="!formGroup.valid" type="submit">Submit</button>
</form>