
/* .account-circle {
    font-size: 120px;
    color: var(--ws-light-grey);
  } */

button {margin: 1em 0.5em 0 0;}

button.student { 
  /* float:right;  On IE 11, this cause buttons to align horiz versus stack. */
  width: 150px;
  margin: 0.5em 0 0 0;
}

.mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
}
  
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
  }
/* 
  .categories, .students {float:left;} */

  h2 {margin: 1em 0 0 0;}
  h3 {margin: 0 0 0.5em 0;}

  button.student.payment {margin-top: 2em;}

  .space-evenly { 
    justify-content: space-between; 
  }


  /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  
  .material-icons.account-circle {display:none;}

  button {
    margin: 0 0 0.5em 0;
    width: 100%;
  }

  button.payment {
    margin-top:2em;
  }

}