
.account-circle {
    font-size: 120px;
    color: var(--ws-light-grey);
  }

button {margin: 1em 0.5em 0 0;}

button.student { 
  float:right;
  width: 150px;
  margin: 0.5em 0 0 0;
}

.mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
}
  
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
  }

  h2 {margin: 1em 0 0 0;}
  h3 {margin: 0 0 0.5em 0;}

  .space-evenly { 
    justify-content: space-between; 
  }

