<app-header title="Financials for Surname: {{currentRecord.surname}}"  link="/record-list" linkName="Back to Record List"></app-header>
<mat-card>
  <div class="flex-container space-evenly">
      <mat-card-header>
        <div mat-card-avatar>
          <i class="material-icons account-circle">account_circle</i>
        </div>
        <mat-card-title>
          <h2>Financial status for 
            <span *ngIf="currentStudent$ | async as currentStudent; else selectStudent">{{currentStudent.fname}} {{currentStudent.lname}} </span>
          </h2>
          <ng-template #selectStudent>(Select a student)</ng-template>
        </mat-card-title>
      </mat-card-header>
    
      <div class="students">
        <h3>Students in this Record:</h3>
        <div *ngFor="let student of studentsOfRecord">
          <button mat-flat-button color="primary" (click)="setCurrentStudentAndFinancialDoc(student)"> {{student.fname}} {{student.lname}}</button>
        </div>
      </div>
  </div>
  <app-entry-category></app-entry-category>
</mat-card>
