
.account-circle {
    font-size: 120px;
    color: var(--ws-light-grey);
  }

button { 
  width: 150px;
  margin: 0.5em 0 0 0;
}

.mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
}
  
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
  }

  h2 {margin-top: 1.25em;}
  h3 {margin-bottom: 0.5em;}

  .space-evenly { 
    justify-content: space-between; 
  }