<mat-card>

<div class="desktop">
    <div class="flex-container space-evenly">
        <!-- <mat-card-header> -->
          <!-- <div mat-card-avatar>
            <i class="material-icons account-circle">account_circle</i>
          </div> -->
          <mat-card-title>
            <h5>Financial status for 
              <span *ngIf="currentStudent$ | async as currentStudent; else selectStudent">{{currentStudent.fname}} {{currentStudent.lname}} </span>
            </h5>
            <ng-template #selectStudent>(Select a student)</ng-template>
            <button [disabled]="!enableCatButtons" mat-flat-button color="primary" *ngFor="let cat of categories | mapToIterable"
            (click)="setCategory(cat)">{{cat.val}}</button>
          </mat-card-title>
        <!-- </mat-card-header> -->
      
        <div class="students">
          <h5>Students in this record:</h5>
          <div *ngFor="let student of studentsOfRecord">
            <button class="student" mat-flat-button color="primary" (click)="setCurrentStudentAndFinancialDoc(student)"> {{student.fname}} {{student.lname}}</button>
          </div>
          <button class="student payment" mat-flat-button color="primary" type="button" color="financial" (click)="goToURL('https://stteresabelleville.weshareonline.org/')">Make a Payment</button>
        </div>
    </div>
</div>

  <div class="mobile">

    <h4>Financial status for 
      <span *ngIf="currentStudent$ | async as currentStudent; else selectStudent">{{currentStudent.fname}} {{currentStudent.lname}} </span>
    </h4>
    <ng-template #selectStudent>(Select a student)</ng-template>
    
    <button *ngFor="let student of studentsOfRecord"  mat-flat-button color="primary" (click)="setCurrentStudentAndFinancialDoc(student)"> {{student.fname}} {{student.lname}}</button>
    
    <div *ngIf="enableCatButtons">
      <h5>Select a category:</h5>
        <button mat-flat-button color="primary" *ngFor="let cat of categories | mapToIterable"(click)="setCategory(cat)">{{cat.val}}</button>
    </div>
    <button class="payment" mat-flat-button type="button" color="financial" (click)="goToURL('https://stteresabelleville.weshareonline.org/')">Make a Payment</button>
  </div>
</mat-card>