
button {margin: 1em 0.5em;}

.fill-space {flex: 1 1 auto;}

.form {margin-bottom: 2em;}

mat-form-field {margin-right: 2em;}
mat-form-field.email {width: 250px;}

mat-toolbar.login .info {font-size: 0.7em;}