
button {margin: 1em 0.5em;}

.fill-space {flex: 1 1 auto;}

.form {margin-bottom: 2em;}

h4 {margin: 0.5em 0;}

.mat-card {margin-bottom: 0.5em;}
mat-form-field {margin-right: 2em;}
/* mat-form-field.email {width: 250px;} */

mat-toolbar .info {font-size: 0.7em;}

.phone {display: inline;}

.inset {
    border-radius: 15px;
    border: 1px solid var(--ws-hintblue);
    margin-bottom: 1em;
    display: block;
    padding: 1em;
}

.remove-child {
    float:right;
}