.account-circle {
    float: left;
    margin: -4px 5px 0 0;
}

table {
    background: #fbfdfe!important; 
    width: 100%;
    }


.mat-financial {
    background-color: #2fd08d !important;
    box-shadow: none !important;
}

.mat-mini-fab {

}


.mat-mini-fab .mat-button-wrapper {
    /* width: 24px !important;
    height: 24px !important;
    line-height: 0 !important;
    font-size: 12px !important; */
}