button {margin:1em 0.25em;}

.buttons {margin: 0 auto;}

.account-circle {
  font-size: 120px;
  color: var(--ws-light-grey);
}

.avatar-spinner {
   display: block;
   margin-top: -195px;
}

.fill-space {flex: 1 1 auto;}

h3 {margin-top:0;}

.mat-card-content {font-size: 16px;}

.mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
    margin-top: -20px;
}

mat-toolbar .info {font-size: 0.7em;}