button {margin:1em 0.25em;}


  .account-circle {
    font-size: 120px;
    color: var(--ws-light-grey);
  }

  .mat-card-content {font-size: 16px;}

  .mat-card-avatar {
    width: 120px; /* match font size of .account-circle */
    margin-top: -20px;
  }

  .mat-card-header {
    /* justify-content: space-evenly; */
}