@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

:root {
    --ws-darkcyan:          darkcyan;
    --ws-blue:              #45b6e9;
    --ws-hintblue:          #aee5ff;
    --ws-green:             #92ff05;
    --ws-financial-green:   #2fd08d;
    --ws-light-grey:        #e4e7e9;
    --ws-smoke:             whitesmoke;
    --ws-error:             #e27562;
}

a {text-decoration: none;}

app-entry {
    display: block;
    margin-top: 1em !important;
}

app-login {
    display: block;
    margin: 7em auto;
    width: 500px;
}

body {background: #f6f6f6;}

button[color=basic] {background: #eff1f1;} 

button[color=financial] {background:var(--ws-green);} 

.container {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 500px;
}

.legal {
    color: var(--ws-light-grey);
    text-align: center;
    font-size: 0.75em;
}

/* Chrome - change the pale yellow autocomplete to any color */
/* https://stackoverflow.com/a/14205976 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    h1,h2,h3,h4,h5,h6 { font-size: 75%;}

    app-login { margin: 1em auto;}

    jw-modal .jw-modal {width: 93vw !important;}

    mat-card, mat-toolbar {width: 93vw !important;}
}