@import url('https://fonts.googleapis.com/css?family=Montserrat:300');


/* https://stackoverflow.com/a/44908040 */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

:root {
    --ws-darkcyan:          darkcyan;
    --ws-blue:              #45b6e9;
    --ws-hintblue:          #aee5ff;
    --ws-green:             #92ff05;
    --ws-financial-green:   #2fd08d;
    --ws-light-grey:        #e4e7e9;
    --ws-smoke:             whitesmoke;
    --ws-error:             #e27562;
}

a {text-decoration: none;}

app-entry {
    display: block;
    margin-top: 1em !important;
}

app-login {
    display: block;
    margin: 7em auto;
    max-width: 500px;
}

body {background: #f6f6f6;}

button[color=basic] {background: #eff1f1;} 

button[color=financial] {background:var(--ws-green);} 

button.close-modal {
    display: block;
    margin: 1em auto;
}
/* Prevent select boxes from appearing behind modal */
.cdk-overlay-container { z-index: 9999!important; }

.legal {
    color: var(--ws-light-grey);
    text-align: center;
    font-size: 0.75em;
}

/* Chrome - change the pale yellow autocomplete to any color */
/* https://stackoverflow.com/a/14205976 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* jw-modal#tax-form-modal mat-card * {font-size: 1.06em;} */

jw-modal#tax-form-modal .jw-modal-body {position: relative;}

jw-modal#tax-form-modal .jw-modal-body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('/assets/taxFormBG.png') center center no-repeat;
    opacity: 0.1;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .mobile {display:none;}
 }


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    h1,h2,h3,h4,h5,h6 { font-size: 90%;}

    app-login { margin: 1em auto;}
    
    .desktop {display:none;}

    mat-cell { display: block !important; padding: 1em;}
    mat-cell button {
        margin-top: 1em !important;
        width: 100px !important;
    }
}

@media print {

    @page {
        size: A4 portrait; 
        margin: 0;
    }

    body * {
        visibility: hidden;  
    }

    #print-content * {
        visibility: visible;
    }

    #print-content {
        /* position: relative; */
        font-size: 1.25em;
    }

    #print-content .logo {
        background: url('/assets/taxFormBG.png') center center no-repeat;
        width: 388px;
        height: 320px;
        margin: 0 auto;
    }
}