@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

:root {
    --ws-darkcyan:          darkcyan;
    --ws-blue:              #45b6e9;
    --ws-hintblue:          #aee5ff;
    --ws-green:             #92ff05;
    --ws-financial-green:   #2fd08d;
    --ws-light-grey:        #e4e7e9;
    --ws-smoke:             whitesmoke;
    --ws-error:             #e27562;
}

a {text-decoration: none;}

app-entry {
    display: block;
    margin-top: 1em !important;
}

app-login {
    display: block;
    margin: 7em auto;
    max-width: 500px;
}

body {background: #f6f6f6;}

button[color=basic] {background: #eff1f1;} 

button[color=financial] {background:var(--ws-green);} 

.legal {
    color: var(--ws-light-grey);
    text-align: center;
    font-size: 0.75em;
}

/* Chrome - change the pale yellow autocomplete to any color */
/* https://stackoverflow.com/a/14205976 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .mobile {display:none;}
 }


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    h1,h2,h3,h4,h5,h6 { font-size: 90%;}

    app-login { margin: 1em auto;}
    
    .desktop {display:none;}

    mat-card, mat-toolbar {width: 93vw !important;}

    mat-cell { display: block !important; padding: 1em;}
    mat-cell button {
        margin-top: 1em !important;
        width: 100px !important;
    }

    .mat-toolbar.mat-primary {padding: 2em 0 !important;}
}