<div *ngIf="!userIsReady || !tableData; else display">
	<app-progress-spinner></app-progress-spinner>
</div>
<ng-template #display>
  <mat-card>
  <!-- <mat-card *ngIf="currentFinancialDoc && tableData && userIsReady"> -->
    <p class="info"><strong>{{currentChild}}'s</strong> Transaction History for <strong>{{currentCategory}}</strong></p>
    <mat-table *ngIf="currentCategory" [dataSource]="tableData" matSort matSortActive="date" matSortDirection="desc">
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span [class.deduction]="row.type === 'Deduction'"> {{row.amount | currency}}</span>
          </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.date | date:"longDate"}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="memo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Memo</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.memo}} </mat-cell>
        </ng-container>
      
        <ng-container *ngIf="user['roles'].admin" matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Delete Transaction</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button [disabled]="disableDelete[row.id]" (click)="deleteTransaction(row.id, row.type, row.amount)">Delete</button>
            <!-- ToDo: Add confirm delete -->
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
      </mat-table>
  </mat-card>
</ng-template>